[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
passlib = "*"
flask-bcrypt = "*"
flask-wtf = "*"
pymysql = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
